<!DOCTYPE html>
<head>
<title></title>
<script src="/javascripts/gamescript.js"></script>

<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
<div id="bd">
<h2>Your Songs!</h2>
	{{{ body }}}
<footer>
	<a href="/songs">Songs</a><br><br><br>
  <a href = "/game1">Play this game!!!</a>

  <div class = "footer">
    <a href="logout">Logout</a>
  </div>
</footer>
</div>

</body>
</head>
</html>
