<!DOCTYPE html>
<head>
<title></title>
<script src="/javascripts/script.js"></script>
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
<p style="text-align:center;"><a href="/"><img class = "centerMe" src="/images/emojigametitle.png"></a></p>


</head>
<body>
<div id="bd">
<h2>Hi There!</h2>
	{{{ body }}}

</div>

</body>
</head>
</html>
