<!DOCTYPE html>
<head>
<title></title>
<script src="/javascripts/script.js"></script>
<ul>
	<li class="linavBar"><a href="/welcome">Main Menu</a></li>
	<li class="linavBar"><a href = "/songs">Check out your playlist</a></li>
  <li class="linavBar"><a href = "/game1">Play this game!!!</a></li>
  <li class="linavBar"><a href = "/pickYourEmojis">Add some of your favorite emoji's!!!</a></li>
  <li class="linavBar" style="float:right"><a href="logout">Logout</a></li>
</ul>

<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
<div id="bd">
	{{{ body }}}
</div>

</body>
</head>
</html>
