<p style="text-align:center;"><img class = "centerMe" src="/images/emojigametitle.png"></p>
<script src="http://d3js.org/d3.v3.min.js"></script>



<h1>Welcome to The Emoji Game</h1>
<p>These are how the rules work </p>

<body>
  You must first create a playlist of songs.<br>

  Then you can challenge your friend to play the game!<br>

  The game will change the lyrics of your pre chosen songs to emojis.<br>

  Good luck!<br><br><br><br>

  <div class="mainmenu">
    <a href = "/game1">Play this game!!!</a> <br>
    <a href = "/pickYourEmojis">Add some of your favorite emoji's!!!</a> <br>
    <a href = "/songs">Check out your playlist</a> <br>
  </div>
</body>
